<div ng-controller="FieldsController">

    <h1 style="text-align: center">Forms : Registration Form</h1>

    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{'active': $location.url() == '/forms'}"><a href="#/forms">Forms</a></li>
        <li role="presentation" ng-class="{'active': $location.url() == '/fields'}"><a href="#/fields">Fields</a></li>
    </ul>

    <form class="form" action="fields.view.html">
        <div class="form-group">
            <div class="col-sm-12">
                <label for="inputFirstName">First Name:</label>
            </div>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
            </div>

            <div class="col-sm-4">
                <a href="../users/register.view.html">
                     <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="../users/register.view.html">
                     <span class="glyphicon glyphicon-plus"></span>
                </a>
                <a href="../users/register.view.html">
                     <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a href="../users/register.view.html">
                     <span class="glyphicon glyphicon-menu-hamburger"></span>
                </a>
            </div>

        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <label for="inputLastName">Last Name:</label>
            </div>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
            </div>
            <div class="col-sm-4">
                <a href="../users/register.view.html">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="../users/register.view.html">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <a href="../users/register.view.html">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a href="../users/register.view.html">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </a>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-12">
                <label for="inputDate">Date of Birth: </label>
            </div>
            <div class="col-sm-8">
                <input type="date" class="form-control" id="inputDate" placeholder="select date">
            </div>
            <div class="col-sm-4">
                <a href="../users/register.view.html">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="../users/register.view.html">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <a href="../users/register.view.html">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a href="../users/register.view.html">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </a>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <label for="inputGender">Gender: </label>
            </div>
            <div class="col-sm-8">
                <select class="form-control" id="inputGender" placeholder="select gender">
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>
            <div class="col-sm-4">
                <a href="../users/register.view.html">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="../users/register.view.html">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <a href="../users/register.view.html">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a href="../users/register.view.html">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </a>
            </div>
        </div>
        <br><br>
        <div class="form-group">
            <div class="col-sm-12">
                <label>Roles:</label>
            </div>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label><input type="checkbox" value="Admin" checked>Admin</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="Student">Student</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="User" checked>User</label>
                </div>
            </div>
            <div class="col-sm-4">
                <a href="../users/register.view.html">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="../users/register.view.html">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <a href="../users/register.view.html">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a href="../users/register.view.html">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <label>License Agreement:</label>
            </div>
            <div class="col-sm-8">
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">No
                    </label>
                </div>
            </div>
            <div class="col-sm-4">
                <a href="../users/register.view.html">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="../users/register.view.html">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <a href="../users/register.view.html">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a href="../users/register.view.html">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </a>
            </div>
        </div>

        <ul class="nav nav-list">
            <li class="divider"></li>
        </ul>
        <h1 class="page-header"></h1>
    </form>

    <form class="form">
        <div class="form-group">
            <div class="col-sm-12">
                <label for="inputNewField">Add New Field</label>
            </div>
            <div class="col-sm-8">
                <select class="form-control" id="inputNewField">
                    <option>Single Line Text</option>
                    <option>Date</option>
                    <option>Dropdown</option>
                    <option>Checkboxes</option>
                    <option>Radio buttons</option>
                    <option>Paragraph Text</option>
                </select>
            </div>
            <div class="col-sm-4">
                <a href="../users/register.view.html">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="../users/register.view.html">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <a href="../users/register.view.html">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a href="../users/register.view.html">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </a>
            </div>
        </div>
    </form>


</div>
