<div ng-controller="FormController">

    <h1>Forms</h1>

    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{'active': $location.url() == '/forms'}"><a href="#/forms">Forms</a></li>
        <li role="presentation" ng-class="{'active': $location.url() == '/fields'}"><a href="#/fields">Fields</a></li>
    </ul>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span> Form Name</th>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span> Action</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td><input id="selectForm"  type="text" class="form-control" placeholder="name"></td>
                <td>
                    <div>
                        <div class="col-xs-6">
                            <a ng-click="addForm()">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <a ng-click="updateForm()">
                                <span class="glyphicon glyphicon-ok"></span>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr ng-repeat="form in currentForms">
                <td>{{form.title}}</td>
                <td>
                    <a ng-click="deleteForm($index)">
                        <scan class="glyphicon glyphicon-remove"></scan>
                    </a>
                    <a ng-click="selectForm($index)">
                        <scan class="glyphicon glyphicon-pencil"></scan>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
