<div ng-controller="FormController">

    <h1>Forms</h1>

    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{'active': $location.url() == '/forms'}"><a href="#/forms">Forms</a></li>
        <li role="presentation" ng-class="{'active': $location.url() == '/fields'}"><a href="#/fields">Fields</a></li>
    </ul>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span> Form Name</th>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span> Action</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td><input ng-model="form.title" id="formTitle"  type="text" class="form-control" ng-value="Title" placeholder="Title"></td>
                <td>
                    <div>
                        <div class="col-xs-3">
                            <a ng-click="addForm()">
                                <span class="glyphicon glyphicon-plus" style="font-size: 30px;"></span>
                            </a>
                        </div>
                        <div class="col-xs-3">
                            <a ng-click="updateForm()">
                                <span class="glyphicon glyphicon-ok" style="font-size: 30px;"></span>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr ng-repeat="form in currentForms">
                <td>{{form.title}}</td>
                <td>
                    <div>
                        <div class="col-xs-3">
                            <a ng-click="deleteForm($index)">
                                <scan class="glyphicon glyphicon-remove" style="font-size: 30px;"></scan>
                            </a>
                        </div>
                    </div>

                    <div>
                        <div class="col-xs-3">
                            <a ng-click="selectForm($index)">
                                 <scan class="glyphicon glyphicon-pencil" style="font-size: 30px;"></scan>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
