<div ng-controller="ProfileController">

    <h1>Profile</h1>

    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">Username: </label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputName" placeholder="Username">
            </div>
        </div>

        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">Password: </label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
        </div>

        <div class="form-group">
            <label for="inputFirstName" class="col-sm-2 control-label">First Name: </label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputFirstName" placeholder="First Name">
            </div>
        </div>

        <div class="form-group">
            <label for="inputLastName" class="col-sm-2 control-label">Last Name: </label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputLastName" placeholder="Last Name">
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a href="profile.view.html" class="btn btn-default btn-block" role="button">Update</a>
            </div>
        </div>

    </form>

</div>

