<div ng-controller="AdminController">

    <h1 style="text-align: center">Admin</h1>

    <h3>Users</h3>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span>Username</th>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span>Password</th>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span>Role</th>
                <th><span class="glyphicon glyphicon-triangle-bottom"></span>Action</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td><input type="text" class="form-control" placeholder="username"></td>
                <td><input type="password" class="form-control" placeholder="password"></td>
                <td><input type="text" class="form-control" placeholder="role1, role2"></td>
                <td>
                    <div>

                        <div class="col-sm-6">
                            <a href="../users/register.view.html">
                            <span style="font-size: 30px;" class="glyphicon glyphicon-plus"></span>
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <a href="admin.view.html">
                            <span style="font-size: 30px;" class="glyphicon glyphicon-ok"></span>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>alice</td>
                <td></td>
                <td>student</td>
                <td>
                    <div>
                        <a href="admin.view.html"><div style="font-size: 30px;" class="col-xs-6 glyphicon glyphicon-remove"></div></a>
                        <a href="../users/profile.view.html"><div style="font-size: 30px;" class="col-xs-6 glyphicon glyphicon-pencil"></div></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>bob</td>
                <td></td>
                <td>faculty | admin</td>
                <td>
                    <div>
                        <a href="admin.view.html"><div style="font-size: 30px;" class="col-xs-6 glyphicon glyphicon-remove"></div></a>
                        <a href="../users/profile.view.html"><div style="font-size: 30px;" class="col-xs-6 glyphicon glyphicon-pencil"></div></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>charlie</td>
                <td></td>
                <td></td>
                <td>
                    <div>
                        <a href="admin.view.html"><div style="font-size: 30px;" class="col-xs-6 glyphicon glyphicon-remove"></div></a>
                        <a href="../users/profile.view.html"><div style="font-size: 30px;" class="col-xs-6 glyphicon glyphicon-pencil"></div></a>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>


</div>


