<h1 align="center">Article</h1>

<div class="container">


    <h2 align="center">{{article.title}}</h2>

    <div class="well col-xs-8 col-xs-offset-2">
        <ul class="listing">
            <div class="row center">
                <div class="col-md-4 col-md-offset-4">
                    <li>Created by:</li>
                    <li>
                        <a href="#profile/{{author._id}}">
                            <img gravatar-src="author.email" gravatar-size="100" class="img-circle">
                        <!--<img alt="Starfall" class="img-circle"-->
                             <!--src="https://secure.gravatar.com/avatar/69b6778a22d5604808192a5e986212d9?s=80" />-->
                         </a>
                    </li>
                    <li class="article-title">
                        <a href="#profile/{{author._id}}">{{author.username}}</a>
                    </li>
                    <li>
                        <small>{{number}} articles</small>
                    </li>
                </div>
            </div>
        </ul>
        <h4 class="center description"><strong>Description</strong></h4>
        <hr>

        <div ng-if="data">
        <div class="col" style="margin-top: 20px;">
            <div class="col-sm-offset-1 col-sm-4">
                <img ng-src="{{data.Poster}}" height="250px"/>
            </div>

            <div class="col-sm-6">
                <h4>Plot</h4>
                <p>
                    {{data.Plot}}
                </p>
            </div>

            <div class="col-sm-6">
                <h4>Actors</h4>
                <ul>
                    <li ng-repeat="actor in data.Actors.split(',')">
                        {{actor}}
                    </li>
                </ul>
            </div>

        </div>

        <div class="clear"></div>

        <div style="margin-top: 30px"></div>
            <hr>
        </div>

        <div ng-bind-html="content"></div>

        <a href="https://twitter.com/share" class="twitter-share-button" data-size="large">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

        <p>Categories: <span class="badge" ng-repeat="category in article.categories">
                <a href="#">{{category}}</a>
            </span></p>

        <div class="article-actions">
            <a class="btn btn-s btn-primary" href="#/article/{{article._id}}/edit">Edit this article</a>
            <a class="btn btn-s btn-danger" ng-click="deleteArticle(article)">Delete this article</a>
            <a class="btn btn-s btn-success" href="#article">View all articles</a>
        </div>
    </div>

    </div>