<nav ng-controller="NavigationController as model">


    <nav class="navbar navbar-default" style="background-color: black">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#home">STARFALL BLOG</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#article">Articles</a></li>
                    <li><a href="#search">Movies</a> </li>
                    <li><a href="#createArticle">New Article</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            Categories <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#category">All Categories</a></li>
                            <li role="separator" class="divider"></li>
                            <li ng-repeat="category in model.categories">
                                    <a href="#category/{{category.category}}">
                                {{category.category}}</a>
                            </li>
                        </ul>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-show="!currentUser" href="#login">Log in</a></li>
                    <li><a ng-show="!currentUser" href="#register">Register</a></li>
                    <li><a ng-show="currentUser" ng-click="model.logout()">Log out</a></li>
                    <li class="dropdown">
                        <a ng-show="currentUser" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            Your Profile Admin<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#updateprofile">Edit your profile</a></li>
                            <li><a href="#profile/{{currentUser._id}}">View your profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#user">Users</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

</nav>