<h2 align="center">{{model.user.username}}'s Profile</h2>

<div ng-repeat="article in model.articles">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="well well-lg">
                <div class="article-title">
                    <a href="#/article/{{article._id}}">{{article.title}}</a>
                </div>


                    <div class="article-meta-details">
                        <small>
                            Created by: Starfall,
                            about 2 months ago,
                            last updated: 20days ago
                        </small>
                    </div>

                <p>Categories: <span class="badge" ng-repeat="category in article.categories">
                <a href="#">{{category}}</a>
            </span></p>
                <div class="article-actions">
                    <a class="btn btn-xs btn-primary" href="#/article/{{article._id}}/edit">Edit this article</a>
                    <a class="btn btn-xs btn-danger" ng-click="model.deleteArticle(article)" type="submit">Delete this article</a>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
<div ng-if="model.profile.likesMovies.length">

    <h3>Movies I Like</h3>

    <div class="panel panel-default jga-movie-panel"
         ng-repeat="movie in model.profile.likesMovies">
        <div class="panel-heading">
            <a href="#/details/{{movie.imdbID}}">
                {{movie.title}}
            </a>
        </div>
        <div class="panel-body">
            <a href="#/details/{{movie.imdbID}}">
                <img ng-src="{{movie.poster}}" width="100px"/>
            </a>
        </div>
    </div>

</div>
        </div>
    </div>

<div class="clear"></div>