<h1 style="text-align: center">About</h1>

<h2 style="text-align: center">This is the class project for the CS5610 course.</h2>

<h3 style="text-align: center">User1: alice, Key: alice</h3>

<h3 style="text-align: center">Admin user: bob, Key: bob</h3>

<h3 style="text-align: center">User with Gravatar image: starfall, Key: starfall</h3>

<br/>
<br/>

<div>
<h4>In this project I use several apis and tools. </h4>

    <h4> Api1 (OMDB API):
    Link: http://omdbapi.com/ </h4>

    <h4> Api2(Full Text Editor):
    Link: http://textangular.com/ </h4>

    <h4> Api3(Gravatar API):
    Link: https://github.com/wallin/angular-gravatar </h4>

    <h4> Api4(Twitter Button):
    Link: https://about.twitter.com/zh-hans/resources/buttons</h4>
</div>

<h3 align="center"><a href="#/home">Home</a></h3>